[user]
	email = matt@threlfall.dev
	name = Matt
	signingkey = 2B19B7E053B101A8CA76256CCD563EFF28C1C306
[core]
	editor = nvim
[credential]
	helper = store
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
